html,
body {
  background-color: black;
  text-align: left;
  color: chocolate;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.gridlayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 80px;
}

.gridlayout :nth-child(1) {
  grid-column: 1 / span 4;
}

.gridlayout :nth-child(14) {
  grid-column: 1 / span 4;
}

li {
  background-color: indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 1000;
  color: yellow;
}

.allspots:hover {
  background-color: yellow;
  color: indigo;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
  transition: 1s;
  transform: rotate(398grad);
  text-transform: uppercase;
}
